/* variables */
:root{
    --primary:#0f0;
    --secondary:black;

}

/* reset */
* {
    margin:0;
    padding:0;
    text-decoration: none;
    font-family: 'Rubik-Regular';
    box-sizing: border-box;


}


li {
    list-style-type: none;
    
}

/* base styles */
body {
    background: var(--secondary);
    position:relative;
    
    

}

.button {
    background: none;
    border:2px solid var(--primary);
    color:var(--primary);
    padding:6px 12px;
    border-radius:20px;
    text-transform: uppercase;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.6);
    display:inline-block;
}

.button:hover{
    color: #222;
    background: var(--primary);
}

input, textarea {
    background: rgba(255,255,255,0.05);
    padding:10px 16px;
    border-radius: 20px;
    
    color: #f2f2f2;
}

/*fonts */

html {
    font-size: clamp(16px,1.5vw,20px);
}


@font-face {
    font-family: 'Rubik Regular';
    src: url('/fonts/Rubik-Regular.ttf');
}

h1,h2,h3,h4 {
    color: var(--primary);
    font-weight: normal;
}

p,a,li {
    color: var(--primary);
}

h1,h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

.leading {
    font-size: 1.1em;
}


/*mobile styles*/

.grid {
    display:grid;
    grid-template-columns: repeat(8,1fr);
    gap:10px;
    


}

.container{
    width:100%;
    max-width: 1200px;
    margin:0 auto;

}

nav {height:20vh;}

.logo {
    font-family: 'Iceland', cursive; 
    font-size: 1.6em;
    
    text-decoration: none; 
}

#home {
    height:80vh;
    align-items: center;
}


.main-img{
    grid-column: span 8;

}



.main-img img {
    width:80%;
    margin:0 auto;
    display:block;
}

#home h2 {
    grid-column: 2 / 8;
    background-color:black;
    
}

/* for animation matrix background */
canvas {
    position:absolute;
    width: 100%;
    height:100%;
    top:0;
    top:left;
    z-index:1;
}

section, nav{

    position:relative;
    z-index: 99;
}


/*for animation letters */
.main-img {
    position:relative;
}

.main-img > span{
    position:absolute;
    color:white;
    top:0;
    left:0;
}


.main-img .first-line{
    top: 10%;
    left: 20%;
}

.main-img .second-line{
    top: 20%;
    left: 20%;
}

.main-img .third-line{
    top: 30%;
    left: 20%;
}


@media screen and (min-width:640px) {

    .main-img{
        grid-column: span 4;
    
    }

    #home h2 {
        grid-column: span 4;

    
}

}